body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

/* Estilo para o contêiner */
.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    color: #fff;
    width: 100%;
    padding: 15px 10px;
    background-color: #4f4f4f;
    border: 2px solid #4f4f4f;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: gold;
}

/* Estilo para o botão de logout */
#logout {
    background-color: grey;
}

#logout:hover {
    background-color: #d32f2f;
}

img{
    width: 50%;
}